<a href="https://colab.research.google.com/github/AJuliPS/AI2023-2_JulianaPonce/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [2]:
myVariableA_1=4
myVariableA_2=6
print(myVariableA_1+myVariableA_2)
print(myVariableA_1-myVariableA_2)
print(myVariableA_1*myVariableA_2)
print(myVariableA_1/myVariableA_2)

10
-2
24
0.6666666666666666

In [3]:
aux1=True
aux2=False

print(aux1 and aux2)

print(aux1 or aux2)

print(not aux1)

False
True
False

In [4]:
myNameIs='Juliana Ponce'
print(myNameIs)

Juliana Ponce

In [5]:
myNameIs='Juliana Ponce'
print(myNameIs.upper())
print(myNameIs.lower())
print(myNameIs.capitalize())

JULIANA PONCE
juliana ponce
Juliana ponce

In [6]:
tmp='angie, juliana, angeline'
print(tmp)
print(tmp.split(','))

angie, juliana, angeline
['angie', ' juliana', ' angeline']

In [7]:
scholarList=['pencil', 'notebook', 'eraser', 'ruler', 'scissors', 'pen']
print(scholarList)
scholarList.append('markets')
print(scholarList)
#print(scholarList[2])
#scholarList.pop(2)

del scholarList[2]
print(scholarList)

['pencil', 'notebook', 'eraser', 'ruler', 'scissors', 'pen']
['pencil', 'notebook', 'eraser', 'ruler', 'scissors', 'pen', 'markets']
['pencil', 'notebook', 'ruler', 'scissors', 'pen', 'markets']

In [8]:
miLista=list(range(20))
print(miLista)
print(miLista[5:11])

print(miLista[-4])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[5, 6, 7, 8, 9, 10]
16

Continuaci√≥n de la clase . . .

In [9]:
myDiccionario={'dog':'cute','horse':'big','lion':'strong'}

print(type(myDiccionario))

for key, value in myDiccionario.items():
  print(key,value)
  print(f'key {key}, value{value}')
  print('key %s, value %s'%(key,value))
  #print('the key is: {} and the value')

  print('---------------')
  print(myDiccionario)

<class 'dict'>
dog cute
key dog, valuecute
key dog, value cute
---------------
{'dog': 'cute', 'horse': 'big', 'lion': 'strong'}
horse big
key horse, valuebig
key horse, value big
---------------
{'dog': 'cute', 'horse': 'big', 'lion': 'strong'}
lion strong
key lion, valuestrong
key lion, value strong
---------------
{'dog': 'cute', 'horse': 'big', 'lion': 'strong'}

In [10]:
tmp=list()

for i in range(1,101,1):
  if i%2==0:
    tmp.append(i)
print(tmp)
print('-------------')

aux=[ i  for i in range(1,101,2)]
print(aux)
aux=[ i  for i in range(1,101) if i%2==0]
print(aux)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
-------------
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [11]:
tmpList=[i**2 for i in range(1,101) if i%2==0]
print(tmpList)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [12]:
def upperCase(valString):
  pass